body{
    margin-left: 60px;
    margin-right: 60px;
}

#image{
    margin-right: 15vh;
    margin-bottom: 10vh;
    width: 15%;
}

.column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
}


